<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.codetracker.mapper.ClassMapper">

    <resultMap id="trackerInfo" type="cn.edu.fudan.codetracker.domain.projectinfo.TrackerInfo">
        <id property="version" column="version"/>
        <id property="rootUUID" column="uuid"/>
    </resultMap>

    <insert id="insertClassInfoList" parameterType="List">
        insert into codeTracker.meta_class
        (
        uuid,
        fullname,
        class_name,
        file_path,
        package_name,
        module_name,
        file_uuid,
        package_uuid,
        start_commit,
        start_commit_date,
        end_commit,
        end_commit_date,
        repo_uuid,
        branch,
        version,
        file_name
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.fullname},
            #{item.className},
            #{item.filePath},
            #{item.packageName},
            #{item.moduleName},
            #{item.fileUuid},
            #{item.packageUuid},
            #{item.startCommit},
            #{item.startCommitDate},
            #{item.endCommit},
            #{item.endCommitDate},
            #{item.repoUuid},
            #{item.branch},
            #{item.trackerInfo.version},
            #{item.fileName}
            )
        </foreach>
    </insert>

    <insert id="insertRawClassInfoList" parameterType="List">
        insert into codeTracker.raw_class
        (
        uuid,
        fullname,
        class_name,
        file_uuid,
        class_uuid,
        version,
        change_relation,
        commitid,
        committer,
        commit_date,
        commit_message,
        parent_commit,
        repo_uuid,
        branch
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.fullname},
            #{item.className},
            #{item.fileUuid},
            #{item.trackerInfo.rootUUID},
            #{item.trackerInfo.version},
            #{item.trackerInfo.changeRelation},
            #{item.commit},
            #{item.committer},
            #{item.commitDate},
            #{item.commitMessage},
            #{item.parentCommit},
            #{item.repoUuid},
            #{item.branch}
            )
        </foreach>
    </insert>

    <select id="getTrackerInfo" resultMap="trackerInfo" parameterType="String">
        select version,uuid from codeTracker.meta_class where file_path = #{filePath} and class_name = #{className} and repo_uuid = #{repoUuid} and branch = #{branch} order by version desc limit 1
    </select>

    <update id="updateChangeInfo" parameterType="List">
        update codeTracker.meta_class
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="end_commit = case" suffix="end,">
                <foreach collection="list" item="item">
                    when uuid=#{item.trackerInfo.rootUUID} then #{item.endCommit}
                </foreach>
            </trim>
            <trim prefix="end_commit_date = case" suffix="end,">
                <foreach collection="list" item="item">
                    when uuid=#{item.trackerInfo.rootUUID} then #{item.endCommitDate}
                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" item="item">
                    when uuid=#{item.trackerInfo.rootUUID} then #{item.trackerInfo.version}
                </foreach>
            </trim>
        </trim>
        where uuid in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.trackerInfo.rootUUID}
        </foreach>
    </update>
</mapper>