<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.codetracker.mapper.HistoryMapper">

    <!--获取语句所有切片-->
    <resultMap id="StatementHistory" type="cn.edu.fudan.codetracker.domain.resultmap.SurviveStatementInfo">
        <id property="commit" column="commitid"/>
        <result property="committer" column="committer"/>
        <result property="commitDate" column="commit_date"/>
        <result property="body" column="body"/>
        <result property="changeRelation" column="change_relation"/>
        <result property="statementUuid" column="meta_statement_uuid"/>
        <result property="begin" column="statement_begin"/>
        <result property="end" column="statement_end"/>
    </resultMap>

    <select id="getStatementHistory" parameterType="String" resultMap="StatementHistory">
        select meta_statement_uuid, commitid, committer, commit_date, body, change_relation, statement_begin, statement_end from raw_statement where meta_statement_uuid in
        (select s.meta_statement_uuid from (select * from raw_statement where meta_method_uuid = #{methodUuid} and body like #{body}
         and commit_date &lt;= (select commit_date from raw_method where commitid = #{commitId} limit 1)
         and change_relation != "DELETE" order by commit_date desc limit 1) as s)
         and change_relation != "CHANGE_LINE"
        group by commitid order by commit_date desc;
    </select>

    <select id="getStatementHistoryById" parameterType="String" resultMap="StatementHistory">
        select meta_statement_uuid, commitid, committer, commit_date, body, change_relation, statement_begin, statement_end from raw_statement where meta_statement_uuid = #{statementUuid} and change_relation != "CHANGE_LINE" group by commitid order by commit_date desc;
    </select>


    <!--一次性获取有效语句-->
    <resultMap id="AllValidStatement" type="cn.edu.fudan.codetracker.domain.resultmap.StatementInfoByMethod">
        <id property="statementUuid" column="meta_statement_uuid"/>
        <result property="changeRelation" column="change_relation"/>
        <result property="body" column="body"/>
    </resultMap>

    <select id="getAllValidStatement" parameterType="String" resultMap="AllValidStatement">
        select meta_statement_uuid, change_relation, body from raw_statement where meta_method_uuid = #{methodUuid} and commit_date &lt;= #{commitDate} order by statement_begin,meta_statement_uuid,commit_date desc;
    </select>


    <!--获取method历史-->
    <resultMap id="MethodHistory" type="cn.edu.fudan.codetracker.domain.resultmap.MethodHistory">
        <id property="commit" column="commitid"/>
        <result property="parentCommit" column="last_change_commit"/>
        <result property="committer" column="committer"/>
        <result property="commitMessage" column="commit_message"/>
        <result property="commitDate" column="commit_date"/>
        <result property="content" column="content"/>
        <result property="diff" column="diff" jdbcType="OTHER" typeHandler="cn.edu.fudan.codetracker.handler.JsonTypeHandler"/>
        <result property="changeRelation" column="change_relation"/>
        <result property="methodBegin" column="method_begin"/>
        <result property="methodEnd" column="method_end"/>
    </resultMap>

    <select id="getMethodHistory" parameterType="String" resultMap="MethodHistory">
        select commitid, committer, commit_message, commit_date, content, diff, change_relation, method_begin, method_end, last_change_commit from raw_method where meta_method_uuid=#{methodUuid} and change_relation != "CHANGE_LINE" group by commitid order by commit_date;
    </select>


    <!--演示用临时 -->
    <resultMap id="PackageInfoMost" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_package_uuid"/>
        <result property="moduleName" column="module_name"/>
        <result property="packageName" column="package_name"/>
        <result property="version" column="quantity"/>
    </resultMap>

    <select id="getPackageInfoMost" parameterType="String" resultMap="PackageInfoMost">
        select r.meta_package_uuid, m.package_name, m.module_name, count(distinct(commitid)) as quantity from raw_package as r, meta_package as m  where r.meta_package_uuid=m.uuid and r.repo_uuid = #{repoUuid} and r.branch = #{branch} and r.commit_date &gt;= #{beginDate} and r.commit_date &lt;= #{endDate} and r.committer = #{committer} and r.change_relation in ("CHANGE","DELETE","SELF_CHANGE","MOVE") group by r.meta_package_uuid order by quantity desc,m.package_name;
    </select>

    <resultMap id="FileInfoMost" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_file_uuid"/>
        <result property="fileName" column="file_name"/>
        <result property="version" column="quantity"/>
    </resultMap>

    <select id="getFileInfoMost" parameterType="String" resultMap="FileInfoMost">
        select r.meta_file_uuid, r.file_name, count(distinct(commitid)) as quantity from raw_file as r, meta_file as m  where r.meta_file_uuid=m.uuid and r.repo_uuid = #{repoUuid} and r.branch = #{branch} and r.commit_date &gt;= #{beginDate} and r.commit_date &lt;= #{endDate} and r.committer = #{committer} and m.package_name = #{packageName} and r.change_relation in ("CHANGE","DELETE","SELF_CHANGE","MOVE") group by r.meta_file_uuid order by quantity desc,m.file_name;
    </select>

    <resultMap id="ClassInfoMost" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_class_uuid"/>
        <result property="className" column="class_name"/>
        <result property="filePath" column="file_path"/>
        <result property="version" column="quantity"/>
    </resultMap>

    <select id="getClassInfoMost" parameterType="String" resultMap="ClassInfoMost">
        select r.meta_class_uuid, m.class_name, m.file_path, count(distinct(commitid)) as quantity from raw_class as r, meta_class as m  where r.meta_class_uuid=m.uuid and r.repo_uuid = #{repoUuid} and r.branch = #{branch} and r.commit_date &gt;= #{beginDate} and r.commit_date &lt;= #{endDate} and r.committer = #{committer} and m.file_path = #{filePath} and r.change_relation in ("CHANGE","DELETE","SELF_CHANGE","MOVE") group by r.meta_class_uuid order by quantity desc,m.class_name;
    </select>

    <resultMap id="MethodInfoMost" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_method_uuid"/>
        <result property="methodName" column="signature"/>
        <result property="version" column="quantity"/>
    </resultMap>

    <select id="getMethodInfoMost" parameterType="String" resultMap="MethodInfoMost">
        select r.meta_method_uuid, r.signature, count(distinct(commitid)) as quantity from raw_method as r, meta_method as m where r.meta_method_uuid=m.uuid and r.repo_uuid = #{repoUuid} and r.branch = #{branch} and r.commit_date &gt;= #{beginDate} and r.commit_date &lt;= #{endDate} and r.committer = #{committer} and m.file_path = #{filePath} and m.class_name = #{className} and r.change_relation in ("CHANGE","DELETE","SELF_CHANGE","MOVE") group by r.meta_method_uuid order by quantity desc,r.signature;
    </select>


    <resultMap id="MethodInfo" type="cn.edu.fudan.codetracker.domain.resultmap.MethodHistory">
        <id property="repoUuid" column="meta_method_uuid"/>
        <result property="commit" column="commitid"/>
    </resultMap>

    <select id="getMethodInfo" parameterType="String" resultMap="MethodInfo">
        select r.meta_method_uuid,r.commitid from raw_method as r,meta_method as m where r.meta_method_uuid = m.uuid and r.repo_uuid = #{repoUuid} and m.file_path = #{filePath} and r.signature like #{methodName} and r.commit_date &lt;= #{commitTime} order by r.commit_date desc limit 1;
    </select>


    <resultMap id="MethodMetaInfo" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="uuid"/>
        <result property="packageName" column="package_name"/>
        <result property="className" column="class_name"/>
        <result property="methodName" column="signature"/>
    </resultMap>

    <select id="getMethodMetaInfo" parameterType="String" resultMap="MethodMetaInfo">
        select uuid,package_name,class_name,signature from meta_method where uuid = #{methodUuid};
    </select>


    <resultMap id="BugStatement" type="cn.edu.fudan.codetracker.domain.resultmap.ValidLineInfo">
        <id property="uuid" column="uuid"/>
        <result property="metaUuid" column="meta_statement_uuid"/>
        <result property="body" column="body"/>
        <result property="begin" column="statement_begin"/>
        <result property="end" column="statement_end"/>
        <result property="changeRelation" column="change_relation"/>
    </resultMap>

    <select id="getBugStatement" parameterType="String" resultMap="BugStatement">
        select uuid,body,meta_statement_uuid,statement_begin,statement_end,change_relation from raw_statement where meta_method_uuid = #{methodUuid} and commit_date &lt;= #{commitTime} and body like #{body} order by meta_statement_uuid,commit_date desc;
    </select>

    <resultMap id="FileInfo" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_file_uuid"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
    </resultMap>

    <select id="getFileInfo" parameterType="String" resultMap="FileInfo">
        select r.meta_file_uuid, m.file_name, m.file_path from raw_file as r, meta_file as m where r.meta_file_uuid=m.uuid and r.repo_uuid = #{repoUuid} and r.commit_date &gt;= #{beginDate} and r.commit_date &lt;= #{endDate} and r.commitid != (select commitid from raw_statement where repo_uuid = #{repoUuid} order by commit_date limit 1) group by r.meta_file_uuid order by m.file_name;
    </select>

    <resultMap id="AllMethodInfo" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_method_uuid"/>
        <result property="methodName" column="signature"/>
        <result property="filePath" column="file_path"/>
    </resultMap>

    <select id="getMethodInfoByFile" parameterType="String" resultMap="AllMethodInfo">
        select r.meta_method_uuid, r.signature, m.file_path from raw_method as r, meta_method as m where r.meta_method_uuid=m.uuid and r.repo_uuid = #{repoUuid} and r.commit_date &gt;= #{beginDate} and r.commit_date &lt;= #{endDate} and r.commitid != (select commitid from raw_statement where repo_uuid = #{repoUuid} order by commit_date limit 1) and r.change_relation in ("ADD","DELETE","CHANGE","SELF_CHANGE") group by r.meta_method_uuid order by r.signature;
    </select>


    <resultMap id="FileInfoByCommit" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_file_uuid"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="changeRelation" column="change_relation"/>
    </resultMap>

    <select id="getFileInfoByCommit" parameterType="String" resultMap="FileInfoByCommit">
        select r.meta_file_uuid, m.file_name, m.file_path, r.change_relation from raw_file as r, meta_file as m where r.meta_file_uuid=m.uuid and r.repo_uuid = #{repoUuid} and r.commitid = #{commitId} order by m.file_name;
    </select>

    <resultMap id="MethodInfoByCommit" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_method_uuid"/>
        <result property="methodName" column="signature"/>
        <result property="changeRelation" column="change_relation"/>
        <result property="begin" column="method_begin"/>
        <result property="end" column="method_end"/>
        <result property="filePath" column="file_path"/>
        <result property="rawUuid" column="uuid"/>
    </resultMap>

    <select id="getMethodLastInfo" parameterType="String" resultMap="MethodInfoByCommit">
        select r.uuid, r.meta_method_uuid, r.signature, r.change_relation, r.method_begin, r.method_end, m.file_path from raw_method as r, meta_method as m where r.meta_method_uuid = m.uuid and r.commit_date &lt; (select commit_date from raw_method where commitid = #{commitId} limit 1) and r.meta_method_uuid in
        <foreach collection="methodUuidList" item="uuid" index="index" open="(" close=")" separator=",">
            #{uuid}
        </foreach>
        order by r.meta_method_uuid, r.commit_date desc;
    </select>

    <select id="getMethodInfoByCommit" parameterType="String" resultMap="MethodInfoByCommit">
        select r.uuid, r.meta_method_uuid, r.signature, r.change_relation, r.method_begin, r.method_end, m.file_path from raw_method as r, meta_method as m where r.meta_method_uuid = m.uuid and r.repo_uuid = #{repoUuid} and r.commitid = #{commitId} and r.change_relation in ("ADD","DELETE","CHANGE","SELF_CHANGE") order by r.signature;
    </select>

    <resultMap id="StatementInfoByCommit" type="cn.edu.fudan.codetracker.domain.resultmap.MostModifiedInfo">
        <id property="uuid" column="meta_statement_uuid"/>
        <result property="changeRelation" column="change_relation"/>
        <result property="begin" column="statement_begin"/>
        <result property="end" column="statement_end"/>
        <result property="description" column="description"/>
        <result property="methodUuid" column="meta_method_uuid"/>
        <result property="rawUuid" column="uuid"/>
    </resultMap>

    <select id="getStatementInfoByCommit" parameterType="String" resultMap="StatementInfoByCommit">
        select uuid, meta_statement_uuid, change_relation, statement_begin, statement_end, description, meta_method_uuid from raw_statement where repo_uuid = #{repoUuid} and commitid = #{commitId} and change_relation in ("ADD","SELF_CHANGE","DELETE") order by statement_begin,statement_end desc,description desc;
    </select>


    <resultMap id="MethodCalls" type="cn.edu.fudan.codetracker.domain.projectinfo.MethodCall">
        <id property="uuid" column="uuid"/>
        <result property="bodyUuid" column="body_uuid"/>
        <result property="rawMethodUuid" column="raw_method_uuid"/>
        <result property="packageName" column="package_name" />
        <result property="className" column="class_name" />
        <result property="signature" column="signature" />
    </resultMap>

    <select id="getMethodCallsByCommit" parameterType="String" resultMap="MethodCalls">
        select uuid, body_uuid, raw_method_uuid, package_name, class_name, signature from method_call where repo_uuid = #{repoUuid} and start_commit_id = #{commitId} and body_type = "statement";
    </select>

</mapper>