<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.codetracker.mapper.LineInfoMapper">
    <insert id="insertLineInfo" parameterType="cn.edu.fudan.codetracker.domain.LineInfo">
        insert into line_count
        (
        commitid,
        total_count,
        import_count,
        add_count,
        delete_count,
        committer,
        commit_date,
        repo_uuid,
        branch
        )
        VALUES
        (
        #{commitId},
        #{lineCount},
        #{importCount},
        #{addCount},
        #{deleteCount},
        #{committer},
        #{commitDate},
        #{repoUuid},
        #{branch}
        )
    </insert>
</mapper>
