<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.codetracker.mapper.PackageMapper">

    <!--column 对应数据库中的字段，property 对应pojo中的属性-->
<!--    <resultmap id="package" type="PackageInfo">
        <id property="uuid" column="uuid"/>
        <collection property="issueType" column="type"
                    select="cn.edu.fudan.issueservice.mapper.IssueTypeMapper.getIssueTypeByTypeName"/>
    </resultmap>

    <resultmap id="rawPackage" type="PackageInfo">
        <id property="uuid" column="uuid"/>
        <collection property="issueType" column="type"
                    select="cn.edu.fudan.issueservice.mapper.IssueTypeMapper.getIssueTypeByTypeName"/>
    </resultmap>-->

    <resultMap id="trackerInfo" type="cn.edu.fudan.codetracker.domain.projectinfo.TrackerInfo">
        <id property="version" column="version"/>
        <id property="rootUUID" column="uuid"/>
    </resultMap>

    <insert id="insertPackageInfoList" parameterType="List">
        insert into track_package
        (
        uuid,
        package_name,
        module_name,
        start_commit,
        start_commit_date,
        end_commit,
        end_commit_date,
        repo_uuid,
        branch,
        version
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.packageName},
            #{item.moduleName},
            #{item.commonInfo.startCommit},
            #{item.commonInfo.startCommitDate},
            #{item.commonInfo.endCommit},
            #{item.commonInfo.endCommitDate},
            #{item.commonInfo.repoUuid},
            #{item.commonInfo.branch},
            #{item.trackerInfo.version}
            )
        </foreach>
    </insert>

    <insert id="insertRawPackageInfoList" parameterType="List">
        insert into raw_package
        (
        uuid,
        root_uuid,
        version,
        change_relation,
        commitid,
        committer,
        commit_date,
        commit_message,
        parent_commit,
        repo_uuid,
        branch
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.trackerInfo.rootUUID},
            #{item.trackerInfo.version},
            #{item.trackerInfo.changeRelation},
            #{item.commonInfo.commit},
            #{item.commonInfo.committer},
            #{item.commonInfo.commitDate},
            #{item.commonInfo.commitMessage},
            #{item.commonInfo.parentCommit},
            #{item.commonInfo.repoUuid},
            #{item.commonInfo.branch}
            )
        </foreach>
    </insert>

    <select id="getTrackerInfo" resultMap="trackerInfo" parameterType="String">
        select version,uuid from track_package where module_name = #{moduleName} and package_name = #{packageName} and repo_uuid = #{repoUuid} and branch = #{branch} order by version desc limit 1
    </select>

    <update id="updateChangeInfo" parameterType="List">
        update track_package
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="end_commit = case" suffix="end,">
                <foreach collection="list" item="item">
                        when uuid=#{item.trackerInfo.rootUUID} then #{item.commonInfo.endCommit}
                </foreach>
            </trim>
            <trim prefix="end_commit_date = case" suffix="end,">
                <foreach collection="list" item="item">
                        when uuid=#{item.trackerInfo.rootUUID} then #{item.commonInfo.endCommitDate}
                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" item="item">
                    when uuid=#{item.trackerInfo.rootUUID} then #{item.trackerInfo.version}
                </foreach>
            </trim>
        </trim>
        where uuid in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.trackerInfo.rootUUID}
        </foreach>
    </update>


</mapper>