<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.codetracker.mapper.RepoMapper">

    <insert id="insertScanRepo" parameterType="String">
        insert into codeTracker.tracker_repo
        (
        uuid,
        repo_id,
        branch,
        scan_status
        )
        VALUES
        (
        #{uuid},
        #{repoId},
        #{branch},
        #{status}
        )
    </insert>

    <update id="updateScanStatus" parameterType="String">
        update codeTracker.tracker_repo set scan_status = #{status} where repo_id = #{repoId} and branch = #{branch};
    </update>

    <update id="updateLatestCommit" parameterType="String">
        update codeTracker.tracker_repo set latest_commit = #{latestCommit} where repo_id = #{repoId} and branch = #{branch};
    </update>

    <resultMap id="scanStatus" type="String">
        <id property="status" column="scan_status"/>
    </resultMap>

    <select id="getScanStatus" resultMap="scanStatus" parameterType="String">
        select scan_status from codeTracker.tracker_repo where repo_id = #{repoId} and branch = #{branch};
    </select>

    <resultMap id="latestCommit" type="String">
        <id property="commit" column="latest_commit"/>
    </resultMap>

    <select id="getLatestScan" resultMap="latestCommit" parameterType="String">
        select latest_commit from codeTracker.tracker_repo where repo_id = #{repoId} and branch = #{branch};
    </select>

</mapper>